.detail-container{
    margin-top: 1em;
    margin-left: 15px;
    font-size: 20px;
}
.detail-container .number{
    font-size: 32px;
    color: #1ABC9C;
}

.detail-desc{
    font-size: .14rem;
    padding: .1rem .15rem;
}
.detail-desc .item{
    margin-top: .05rem;
}
.detail-desc .title{
    font-size: .16rem;
    font-weight: bold;
}
.detail-desc .bold{
    font-size: .14rem;
    font-weight: bold;
}
.detail-desc .normal{
    font-size: .14rem;
}
.detail-desc .tip{
    font-size: .12rem;
}
